﻿ html, body, #mapDiv {
        padding:0;
        margin:0;
        height:100%;
}

.featureCount {
position:absolute;
bottom:30px;
left:30px;
opacity:0.9;
color:white;
background-color:gray;
z-index:1000;
padding:5px;
}

.locateADDRESS {
position:absolute;
top:20px;
left:70px;
opacity:0.9;
color:white;
background-color:gray;
z-index:1000;
padding:5px;

}
